{% extends 'base_templates/base.html' %}
{% load static %}

{% block login_content %}

  <p class="welcome-title">Welcome to Sigfox Patient Monitoring System</p>

  {% if next %}
    {% if user.is_authenticated %}
      <p class="alert alert-danger mt-3">Your account has no access to this page. Please, log in with 
      an account with sufficient privileges.</p>
    {% endif %}
  {% endif %}

  <div class="text-right mt-3">
    <p class="alert alert-info">Don't have an account yet?
    <a href="{% url 'register' %}" class="btn btn-primary">Sign up</a></p>
  </div>

  <div class="container container-left-login">
    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Sign in" class="btn btn-primary"/>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>

  <div class="text-center mt-3">
    <img src="{% static 'sigfox_messages/MonitorSystemLogo1.png' %}">
  </div>
{% endblock %}
