{% extends 'base_templates/base.html' %}

{% block content %}
  {% if not_allowed %}
    <div class="alert alert-danger mt-2">
      <p>You're not allowed to see this information.</p>
    </div>
  {% else %}
    {% if bio %}
      <div class="alert alert-info mt-2">
        {% if last_day %}
          <h4>Latest daily-based biometrics ({{ dev_hist.date }}) from patient 
          <a href="{% url 'patient_detail' bio.patient %}">{{ bio.patient.name }} {{ bio.patient.surname }}</a>:</h4>
        {% else %}
          <h4>Biometrics gathered from patient <a href="{% url 'patient_detail' bio.patient %}">
          {{ bio.patient.name }} {{ bio.patient.surname }}</a> on {{ dev_hist.date }}:</h4>
        {% endif%}
      </div>

      {% if dev_hist %}
        <div class="alert alert-warning mt-2">
          <p><strong>Device running since:</strong> {{ dev_hist.running_since }} 
          <strong>Device last message: </strong>{{ dev_hist.last_msg_time }}
          {% if time_diff %}
            <strong>Sampling interval: </strong>{{ time_diff }} h</p>
          {% else %}
            </p>
            {% if dev_hist.continuous_delivery == False %}
              <p>Since device's message delivery wasn't continuous in time since it started collecting
              samples, we can't ensure time gap between last message and device's boot time is effectively equal 
              to sampling's interval duration.</p>
            {% else %}
              {% if dev_hist.uplink_count == 1 %}
                <p>The device sent only one message since it booted up.</p>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
      {% endif %}

      <div class="row mt-3">
        <div class="col-md-8">
          <div class="card mt-2">
            <div class="card-body">
              <h5 style="color: red;" class="card-title">Distribution of BPM ranges over the day:</h5>
              {% if ranges %}
                <ul class="list-group">
                  {% for t in ranges %}
                    <li class="list-group-item"><strong>{{ t.0 }} bpm:</strong> {{ t.1 }}%</li>
                  {% endfor %}
                </ul>
              {% else %}
                <p><strong>Not available</strong></p>
              {% endif %}
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-body">
              <h5 style="color: green;" class="card-title">Body Temperature statistics</h5>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th style="color: #8B4513;">Last temperature recorded:</th>
                    <td>{{ bio.last_temp }} ºC</td>
                  </tr>
                  <tr>
                    <th style="color: #8B4513;">Average temperature:</th>
                    <td>{{ bio.avg_temp }} ºC</td>
                  </tr>
                  <tr>
                    <th style="color: #8B4513;">Maximum temperature recorded:</th>
                    <td>{{ bio.max_temp }} ºC</td>
                  </tr>
                  <tr>
                    <th style="color: #8B4513;">Minimum temperature recorded:</th>
                    <td>{{ bio.min_temp }} ºC</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mt-2">
            <div class="card-body">
              <h5 style="color: #00BFFF;" class="card-title">Heart Rate statistics</h5>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th style="color: red;">Average bpm:</th>
                    <td>{{ bio.avg_bpm }}</td>
                  </tr>
                  <tr>
                    <th style="color: blue;">Average ibi:</th>
                    <td>{{ bio.avg_ibi }}</td>
                  </tr>
                  <tr>
                    <th style="color: red;">Maximum bpm recorded:</th>
                    <td>{{ bio.max_bpm }}</td>
                  </tr>
                  <tr>
                    <th style="color: blue;">Maximum ibi recorded:</th>
                    <td>{{ bio.max_ibi }}</td>
                  </tr>
                  <tr>
                    <th style="color: red;">Minimum bpm recorded:</th>
                    <td>{{ bio.min_bpm }}</td>
                  </tr>
                  <tr>
                    <th style="color: blue;">Minimum ibi recorded:</th>
                    <td>{{ bio.min_ibi }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <p class="alert alert-warning mt-3 mb-3">Requested biometrics data not found</p>
    {% endif %}
  {% endif %}
{% endblock %}
