{% extends 'base_templates/base.html' %}

{% block content %}
  {% if request.user.is_staff %}
    {% if device_list %}
      <h4 class="alert alert-info mt-2">Below are the devices currently registered on the Monitoring System:</h4>
      <ul class="list-group mt-3">
        {% for device in device_list %}
          <li class="list-group-item"><a href="{% url 'device_config_detail' device %}">{{ device }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-warning mt-3">
        <p><strong>There are no devices currently registered in our system</strong></p>
      </div>
    {% endif %}
    <a href="{% url 'add_device' %}" class="btn btn-primary mt-3">Add a new Device to Database</a><BR>
  {% else %}
    <div class="alert alert-danger mt-3">
      <p><strong>Only authorized users can see this information</strong></p>
    </div>
  {% endif %}
{% endblock %}
