{% extends 'base_templates/base.html' %}

{% block content %}
  {% if not_allowed %}
    <div class="alert alert-danger">
      <strong>You're not allowed to see this information.</strong>
    </div>
  {% else %}
    {% if dev_hist %}
      <div class="alert alert-info">
        <h4>Activity log of device 
        <a href="{% url 'device_config_detail' dev_hist.dev_conf %}">{{ dev_hist.dev_conf }}</a>
        on date {{ dev_hist.date }}:</h4>
      </div>
      <ul class="list-group mt-3">
        <li class="list-group-item"><strong>Running since:</strong> {{ dev_hist.running_since }}</li>
        <li class="list-group-item"><strong>Last message sent at:</strong> {{ dev_hist.last_msg_time }}</li>
        <li class="list-group-item"><strong>Last reported state:</strong> {{ dev_hist.last_dev_state }}</li>
        <li class="list-group-item"><strong>Last known latitude:</strong> {{ dev_hist.last_known_latitude }}</li>
        <li class="list-group-item"><strong>Last known longitude:</strong> {{ dev_hist.last_known_longitude }}</li>
        <li class="list-group-item"><strong>Number of messages sent:</strong> {{ dev_hist.uplink_count }}</li>
        <li class="list-group-item"><strong>Number of resets (asked for configuration):</strong>
        {{ dev_hist.downlink_count }}</li>
      </ul>
    {% else %}
      <div class="alert alert-warning mt-3">
        <p><strong>There's no activity logged to be shown.</strong></p>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
