{% extends 'base_templates/base.html' %}

{% block content %}
  {% if not_allowed %}
    <div class="alert alert-danger">
      <strong>You're not allowed to see this information.</strong>
    </div>
  {% else %}
    {% if patient %}
      <div class="alert alert-info">
        <h4>Information from device linked to patient 
        <a href="{% url 'patient_detail' patient.dni %}">{{ patient.name }} {{patient.surname}}</a>:
        </h4>
      </div>
    {% else %}
      {% if failed_patient %}
        <div class="alert alert-warning">
          <strong>This device has not been linked to any patient yet.</strong>
        </div>
      {% endif %}
    {% endif %}
    {% if device %}
      <ul class="list-group mt-3">
        <li class="list-group-item"><strong>Device identifier:</strong> {{ device.dev_id }}</li>
        <li class="list-group-item"><strong>Higher bpm limit configured to trigger emergency:</strong> 
        {{ device.higher_ebpm_limit }}</li>
        <li class="list-group-item"><strong>Lower bpm limit configured to trigger emergency:</strong> 
        {{ device.lower_ebpm_limit }}</li>
        <li class="list-group-item"><strong>Higher bpm limit configured:</strong> {{ device.higher_bpm_limit }}</li>
        <li class="list-group-item"><strong>Lower bpm limit configured:</strong> {{ device.lower_bpm_limit }}</li>
        <li class="list-group-item"><strong>Higher temperature limit configured:</strong> {{ device.max_temp}}</li>
        <li class="list-group-item"><strong>Lower temperature limit configured:</strong> {{ device.min_temp }}</li>
        <li class="list-group-item"><strong>Bpm limit window* (in seconds):</strong> {{ device.bpm_limit_window }}</li>
        <li class="list-group-item"><strong>Minimum delay* (in minutes):</strong> {{ device.min_delay }}</li>
      </ul>
      <div class="alert alert-info mt-3">
        <strong>Bpm limit window*: threshold in seconds exceeding a higher or lower bpm limit without triggering an 
        emergency condition</strong>
      </div>
      <div class="alert alert-info mt-3">
        <strong>Minimum delay*: Minimal delay for hitting the opposite bpm extreme (in minutes)</strong>
      </div>

      {% if request.user.is_staff %}
        <a href="{% url 'modify_device_config' device.dev_id %}" class="btn btn-primary">Modify device info</a>
      {% endif %}

      {% if qs_hist %}
        <div class="mt-4">
          <strong>Look up device records by date:</strong>
        </div>
        <ul class="list-group mt-3 mb-3">
          {% for dev_hist in qs_hist %}
            <li class="list-group-item"><a href="{% url 'device_hist_detail' dev_hist.id %}">{{ dev_hist.date }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <div class="alert alert-warning mt-3 mb-3">
          <strong>There are no records available from this device.</strong>
        </div>
      {% endif %}
    {% else %}
      {% if device_id %}
        <div class="alert alert-warning mt-3 mb-3">
          <strong>Device with identifier '{{ device_id }}' not found</strong>
        </div>
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock %}
