{% if request.user.is_authenticated %}
  {% if request.user.is_staff %}
    {% if doctor_list %}
      <p><strong>Below are the doctors currently registered on database:</strong></p>
      <ul>
      {% for doctor in doctor_list %}
        <li><a href="{% url 'doctor_detail' doctor.id %}">{{ doctor.name }} {{ doctor.surname }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <h2>There are no doctors currently registered in our system</h2>
    {% endif %}
  {% else %}
    <p>Only authorised users can see this information</p>
  {% endif %}
  <a href="{% url 'index' %}">Back to main portal</a></p>
{% else %}
  <p>Log in as an authorised user to see this page</p>
  <a href="{% url 'login' %}?next={{request.path}}">Log in</a>
{% endif %}
