{% extends 'base_templates/base.html' %}

{% block content %}
  {% if request.user.is_staff %}
    {% if doctor_list %}
      <h4 class="alert alert-info mt-2">Below are the doctors currently registered on the Monitoring System:</h4>
      <ul class="list-group mt-3">
      {% for doctor in doctor_list %}
        <li class="list-group-item"><a href="{% url 'doctor_detail' doctor.id %}">
        {{ doctor.name }} {{ doctor.surname }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <p class="alert alert-warning mt-3">There are no doctors currently registered in our system</p>
    {% endif %}
    <a href="{% url 'add_doctor' %}" class="btn btn-primary mt-3">Add a new Doctor to Database</a>
  {% else %}
    <p class="alert alert-danger mt-3">Only authorised users can see this information</p>
  {% endif %}
{% endblock %}
