{% if request.user.is_authenticated %}
  <a href="{% url 'logout' %}?next={% url 'index' %}">Log out</a>
  {% if doctor %}
    <p><strong>Doctor's information:</strong></p>
    <ul>
    <li>Name: {{ doctor.name }} </li>
    <li>Surname: {{ doctor.surname }}</li>
    <li>State: {{ doctor.state }} </li>
    </ul>
    {% if request.user.is_staff %}
      <a href="{% url 'pdoctor_lookup' doctor.id %}">Check out doctor's patient list
      </a><BR>
      {% if att_req_qs %}
        <p><strong>Below there's a list of unattended requests from patients that require
        your attention:</strong><p>
        {% for att_req in att_req_qs %}
          <li><a href="{% url 'att_req_detail' att_req.id %}">{{ att_req.request_timestamp }} 
          {{ att_req.patient }}
          </a></li>
        {% endfor %}
      {% else %}
        <p>There are no attention requests registered for this doctor.</p>     
      {% endif %}
      {% if form %}
        <p><strong>Update doctor's availability to "available" or "busy"</strong></p>
      {% endif %}
    {% else %}
      {% if available %}
        {% if form %}
          <p><strong>If you wish to manually request the doctor's attention, please fill in the
          fields below:</strong></p>
        {% endif %}
      {% endif %}
    {% endif %}
    {% if form %}
      <form action="{% url 'doctor_detail' doctor.id %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
      </form>
      {% if request.user.is_staff %}
        {% if wrong_state %}
          <p><strong>State '{{ wrong_state }}' is not correct. </strong>
          Doctor's state options are "available" or "busy".</p>
        {% endif %}
      {% else %}
        {% if invalid_priority %}
          <p><strong>*</strong>Valid values for request priority are <strong>'Normal'</strong> 
          or <strong>'Urgent'*</strong></p>
        {% else %}
          {% if invalid_patient %}
            <p>The specified patient is not valid</p>
          {% else %}
            {% if already_assigned %}
              <p>You've already registered one Attention Request. Wait until
              it's marked as "Attended" by the related doctor to register a new one.</p>
            {% else %}
              {% if att_req_created %}
                <p><strong>The request was successfully registered</strong></p>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% else %}
    <p>Requested doctor wasn't found</p>
  {% endif %}
  <BR><a href="{% url 'index' %}">Back to main portal</a></p>
{% else %}
  <p>Log in to see this page</p>
  <a href="{% url 'login' %}?next={{request.path}}">Log in</a>
{% endif %}
