{% extends 'base_templates/base.html' %}

{% block content %}
  {% if not_allowed %}
    <div class="alert alert-danger mt-2">
      <p>You're not allowed to see this information.</p>
    </div>
  {% else %}
    {% if ebio %}
      <div class="alert alert-info mt-2 mb-3">
        <h4>Biometrics gathered from patient 
        <a href="{% url 'patient_detail' ebio.patient %}">{{ ebio.patient.name }} 
        {{ ebio.patient.surname }}</a> over the emergency:</h4>
      </div>

      {% if ebio.active == False %}
        <div class="alert alert-warning mt-2">
          <p><strong>This emergency is no longer active.</strong></p>
          <p><strong>Emergency spawned at:</strong> {{ ebio.spawn_timestamp }}
          <strong>Finished at: </strong> {{ ebio.termination_timestamp }} 
          {% if time_diff %}
            <strong> Sampling interval: </strong>{{ time_diff }} h
          {% endif %}
          </p>
        </div>
      {% else %}
        <div class="alert alert-danger mt-3">
          <p><strong>This emergency is still active.</strong></p>
          <p><strong>Emergency spawned at:</strong> {{ ebio.spawn_timestamp }}</p>
        </div>
      {% endif %}

      <div class="row mt-3">
        <div class="col-md-8">
          <div class="card mt-2">
            <div class="card-body">
              <h5 style="color: red;" class="card-title">Distribution of BPM ranges over the emergency:</h5>
              {% if ranges %}
                <ul class="list-group">
                  {% for t in ranges %}
                    <li class="list-group-item"><strong>{{ t.0 }} bpm:</strong> {{ t.1 }}%</li>
                  {% endfor %}
                </ul>
              {% else %}
                <p><strong>Not available</strong></p>
              {% endif %}
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-body">
              <h5 style="color: red;" class="card-title">Generated payloads over the emergency: 
              {{ ebio.emsg_count }}</h5>
              <ul class="list-group mb-3">
                {% for epayload in epayload_qs %}
                  <li class="list-group-item">
                    <a href="{% url 'epayload_detail' epayload.id %}">{{ epayload.msg_type }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mt-2">
            <div class="card-body">
              <h5 style="color: #00BFFF;" class="card-title">Heart Rate statistics</h5>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th style="color: red;">Average bpm:</th>
                    <td>{{ ebio.avg_bpm }}</td>
                  </tr>
                  <tr>
                    <th style="color: blue;">Average ibi:</th>
                    <td>{{ ebio.avg_ibi }}</td>
                  </tr>
                  <tr>
                    <th style="color: red;">Maximum bpm recorded:</th>
                    <td>{{ ebio.max_bpm }}</td>
                  </tr>
                  <tr>
                    <th style="color: blue;">Maximum ibi recorded:</th>
                    <td>{{ ebio.max_ibi }}</td>
                  </tr>
                  <tr>
                    <th style="color: red;">Minimum bpm recorded:</th>
                    <td>{{ ebio.min_bpm }}</td>
                  </tr>
                  <tr>
                    <th style="color: blue;">Minimum ibi recorded:</th>
                    <td>{{ ebio.min_ibi }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          <div class="card mt-3">
            <div class="card-body">
              <h5 style="color: green;" class="card-title">Body Temperature statistics</h5>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th style="color: #8B4513;">Last temperature recorded:</th>
                    <td>{{ ebio.last_temp }} ºC</td>
                  </tr>
                  <tr>
                    <th style="color: #8B4513;">Average temperature:</th>
                    <td>{{ ebio.avg_temp }} ºC</td>
                  </tr>
                  <tr>
                    <th style="color: #8B4513;">Maximum temperature recorded:</th>
                    <td>{{ ebio.max_temp }} ºC</td>
                  </tr>
                  <tr>
                    <th style="color: #8B4513;">Minimum temperature recorded:</th>
                    <td>{{ ebio.min_temp }} ºC</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr>
    {% else %}
      <p class="alert alert-warning mt-3 mb-3">Emergency data not found</p>
    {% endif %}
  {% endif %}
{% endblock %}
