{% extends 'base_templates/base.html' %}

{% block content %}
  {% if not_allowed %}
    <div class="alert alert-danger mt-2">
      <p>You're not allowed to see this information.</p>
    </div>
  {% else %}
    {% if epayload %}
      <div class="alert alert-info mt-2">
        <h5>Individual payload from the emergency raised at 
        <a href="{% url 'emergency_detail' epayload.emergency.id %}">
        {{ epayload.emergency.spawn_timestamp }}</a></h5>
      </div>

      <p class="alert alert-warning">The <strong>payload format</strong> indicates the statistics 
      present on the message. Those which are not present, will be displayed with a zero value.</p>

      <ul class="list-group mt-3">
        <li class="list-group-item"><strong>Payload reason of the emergency:</strong> 
        {{ epayload.ereason_payload }}</li>
        <li class="list-group-item"><strong>Message type:</strong> {{ epayload.msg_type }}</li>
        <li class="list-group-item"><strong>Payload_format:</strong> {{ epayload.payload_format }}</li>
        <li class="list-group-item"><strong>Elapsed milliseconds:</strong> {{ epayload.elapsed_ms }}</li>
      </ul>

      <div class="row">
        <div class="col-md-8">
          <div class="card mt-3">
            <div class="card-body">
              <h5 style="color: red;" class="card-title">Distribution of BPM ranges over the interval:</h5>
              {% if ranges %}
                <ul class="list-group">
                  {% for t in ranges %}
                    <li class="list-group-item"><strong>{{ t.0 }} bpm:</strong> {{ t.1 }}%</li>
                  {% endfor %}
                </ul>
              {% else %}
                <p><strong>Not available</strong></p>
              {% endif %}
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-body">
              <h5 style="color: green;" class="card-title">Body Temperature statistics</h5>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th style="color: #8B4513;">Last temperature recorded:</th>
                    <td>{{ epayload.temp }} ºC</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mt-3">
            <div class="card-body">
              <h5 style="color: #00BFFF;" class="card-title">Heart Rate statistics</h5>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th style="color: red;">Average bpm:</th>
                    <td>{{ epayload.avg_bpm }}</td>
                  </tr>
                  <tr>
                    <th style="color: blue;">Average ibi:</th>
                    <td>{{ epayload.avg_ibi }}</td>
                  </tr>
                  <tr>
                    <th style="color: red;">Maximum bpm recorded:</th>
                    <td>{{ epayload.max_bpm }}</td>
                  </tr>
                  <tr>
                    <th style="color: blue;">Maximum ibi recorded:</th>
                    <td>{{ epayload.max_ibi }}</td>
                  </tr>
                  <tr>
                    <th style="color: red;">Minimum bpm recorded:</th>
                    <td>{{ epayload.min_bpm }}</td>
                  </tr>
                  <tr>
                    <th style="color: blue;">Minimum ibi recorded:</th>
                    <td>{{ epayload.min_ibi }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    {% else %}
      <p class="alert alert-warning mt-3">Emergency payload data not found</p>
    {% endif %}
  {% endif %}
{% endblock %}
