{% extends 'base_templates/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <h4 class="mt-2">Hi, {{ request.user.username }}</h4>
      {% if error_message %}
        <div class="alert alert-danger mt-3" role="alert">
          <strong>{{ error_message }}</strong>
        </div>
      {% endif %}

      {% if patient_linked %}
        <div class="alert alert-success mt-3" role="alert">
          <strong>The patient has been successfully linked to this account.</strong>
        </div>
      {% endif %}

      {% if emergency_list %}
        <div class="alert alert-danger mt-3" role="alert">
          <strong>Below are currently active emergencies that may require your attention:</strong>
          <ul>
            {% for ebio in emergency_list %}
              <li><a href="{% url 'emergency_detail' ebio.id %}">{{ ebio.spawn_timestamp }}: {{ ebio.patient }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        <div class="alert alert-info mt-3" role="alert">
          <strong>There are no emergencies currently active.</strong>
        </div>
      {% endif %}
      
      {% if request.user.is_staff %}
        <div class="alert alert-info" role="alert">
          <strong>Query System's Database:</strong>
          <ul>
            <li><a href="{% url 'doctor_lookup' %}">Query Doctor's database</a></li>
            <li><a href="{% url 'patient_lookup' %}">Query Patient's database</a></li>
            <li><a href="{% url 'device_lookup' %}">Query Device's database</a></li>
          </ul>
        </div>
      {% else %}
        {% if doctors_list %}
          <div class="alert alert-info" role="alert">
            <strong>The following doctors are currently available to be requested:</strong>
            <ul>
              {% for doctor in doctors_list %}
                <li><a href="{% url 'doctor_detail' doctor.id %}">{{ doctor.name }} {{ doctor.surname }}</a> (available)</li>
              {% endfor %}
            </ul>
          </div>
        {% else %}
          <div class="alert alert-warning" role="alert">
            <strong>All members of our medical team are currently busy.</strong>
          </div>
        {% endif %}
        
        {% if patients_list %}
          <div class="alert alert-info" role="alert">
            <strong>You're following up the patients indicated below. Click on any of them to see further information:</strong>
            <ul>
              {% for patient in patients_list %}
                <li><a href="{% url 'patient_detail' patient.dni %}">{{ patient.name }} {{patient.surname}}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% else %}
          <div class="alert alert-warning" role="alert">
            <strong>This account has not yet been configured to follow up any patient.</strong>
          </div>
        {% endif %}
        
        {% if form %}
          <div class="alert alert-info" role="alert">
            <strong>If you want to add a new patient to your monitoring list, please provide the 'dni' of the patient you'd wish to follow up:</strong>
            <form action="{% url 'index' %}" method="post">
              {% csrf_token %}
              <strong>{{ form.as_p }}<strong>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
