{% extends 'base_templates/base.html' %}

{% block content %}
  {% if request.user.is_staff %}
    {% if patient_list %}
      <h5 class="alert alert-info mt-2">Below are the patients currently registered on the Monitoring System:</h5>
      <ul class="list-group mt-3">
      {% for patient in patient_list %}
        <li class="list-group-item"><a href="{% url 'patient_detail' patient.dni %}">{{ patient.name }} 
        {{ patient.surname }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-warning mt-3">
        <p><strong>There are no patients currently registered in our system</strong></p>
      </div>
    {% endif %}
    <a href="{% url 'add_patient' %}" class="btn btn-primary mt-3">Add a new Patient to Database</a><BR>
  {% else %}
    <div class="alert alert-danger mt-3">
      <p>Only authorized users can see this information</p>
    </div>
  {% endif %}
{% endblock %}
