{% extends 'base_templates/base.html' %}

{% block content %}
  {% if request.user.is_staff %}
    {% if doctor %}
      {% if patient_qs %}
        <h5 class="alert alert-info mt-2">Below are the patients currently related to doctor 
        <a href="{% url 'doctor_detail' doctor.id %}">{{ doctor.name }} 
        {{ doctor.surname }}</a>:</h5>
        <ul class="list-group mt-3">
        {% for patient in patient_qs %}
          <li class="list-group-item"><a href="{% url 'patient_detail' patient.dni %}">{{ patient.name }} 
          {{ patient.surname }}</a></li>
        {% endfor %}
        </ul>
      {% else %}
        <div class="alert alert-warning mt-3">
          <p>There are no patients related to doctor <strong>
          <a href="{% url 'doctor_detail' doctor.id %}">{{ doctor.name }} 
          {{doctor.surname}}</a></strong></p>
        </div>
      {% endif %}
    {% else %}
      <p>Requested doctor wasn't found</p>
    {% endif %}
  {% else %}
    <div class="alert alert-danger mt-3">
      <p>Only authorized users can see this information</p>
    </div>
  {% endif %}
{% endblock %}
